/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Product Card */
.product-card {
    display: flex;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    width: auto;
    height: auto;
}

/* Product Image */
.product-card img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    margin-right: 15px;
}

/* Product Details */
.product-details {
    flex: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-overflow: ellipsis;
}

.product-info {
    font-size: 1rem;
    color: #888;
}

.product-price {
    font-size: 0.9rem;
    color: #222;
    font-weight: bold;
}

.product-quantity {
    font-size: 0.8rem;
    color: #888;
}

/* Actions */
.actions {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    justify-content: flex-end;
}

.remove-btn,
.add-to-cart-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    /* Use relative units */
}

.remove-btn {
    background-color: #d3d3d3;
    color: #444;
    margin-right: 10px;
}

.add-to-cart-btn {
    background-color: #ff6a00;
    color: white;
}

/* Totals */
.totals {
    text-align: right;
    margin: 25px;
    font-size: 1.2rem;
    font-weight: 500;
}

.totals div {
    margin-bottom: 10px;
}

.totals span {
    display: inline-block;
    width: 200px;
}

/* Cart Actions */
.cart-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px auto;
}

.cart-actions button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .product-card {
        flex-direction: row;
        align-items: center;
        margin: 6px;
    }

    .product-card img {
        width: 150px;
    }

    .product-title {
        font-size: 1.2rem;
    }

    .product-info,
    .product-price,
    .product-quantity {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }

    .product-card {
        padding: 5px;
    }

    .cart-actions button {
        width: 100%;
    }
}